<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO APP</title>
    <link rel="stylesheet" href="{% static 'css/myfile.css' %}">
</head>

<body>
    <h1>Hello! Welcome to DJANGO LEVEL TWO.</h1>
    <h2>Here are the access records: </h2>
    <div>
        {% if access_records %}
        <table>
            <thead>
                <th>Website</th>
                <th>Date</th>
            </thead>
            {% for acc in access_records %}
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1>No records</h1>
        {% endif %}
    </div>

</body>

</html>